*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'pr' , sans-serif;
    background: #1E252B;
}

.container{
    max-width: 1250px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}